.about_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  gap: 170px;
}

.about_us_grup_1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.about_us_image1 {
  cursor: pointer;
  width: 582px;
  height: 388px;
  background-image: url(../images/about_us/image1_big.png);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.about_us_cart {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 582px;
  height: 388px;
}

.about_us_title {
  margin-top: 0;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  text-transform: uppercase;
}

.about_us_text {
  margin-top: 30px;
  color: rgba(124, 124, 124, 1);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.about_us_nav {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.about_us_link {
  position: relative;
  text-decoration: none;
  color: rgba(13, 178, 179, 1);

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}

.about_us_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: rgba(13, 178, 179, 1);
  transition: width 0.3s ease;
}

.about_us_link:hover::after {
  width: 100%;
}

.about_us_image2 {
  cursor: pointer;
  width: 582px;
  height: 388px;
  background-image: url(../images/about_us/image2_big.png);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.about_us_grup_2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}
