.features_title_block {
  width: 1194px;
  margin-top: 170px;
}

.features_title {
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  text-transform: uppercase;
}

.features_block_title {
  color: rgba(12, 121, 122, 1);
  font-family: Inter, sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
  text-transform: uppercase;
}

.features_text {
  position: relative;
  width: 362px;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 8px;
}

.features_text::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  line-height: 24px;
}

.features_grup_block {
  display: flex;
  flex-direction: row;
  gap: 132px;
}

.features_block {
  display: flex;
  flex-direction: column;
  width: 1194px;
  height: 697px;
  background: rgba(214, 236, 236, 1);
  box-shadow: -3px 4px 12px 0 rgba(99, 110, 111, 0);
  position: relative;
  padding-bottom: 40px;
}

.features_cart {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.features_cart_grup_1 {
  padding-left: 102px;
  padding-top: 40px;
  width: 378px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.features_cart_grup_2 {
  display: flex;
  margin-top: 40px;
}

.features_image {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 582px;
  height: 302px;
  background-size: cover;
  background-image: url(../images/frame_11.png);
}

.features_cart_1,
.features_cart_2,
.features_cart_3 {
  display: block;
}

.features_nav {
  display: none;
}

@media (max-width: 1439px) {
  .features_cart_1,
  .features_cart_2,
  .features_cart_3 {
    display: none; /* скрываем все */
  }
  .features_cart_1.active,
  .features_cart_2.active,
  .features_cart_3.active {
    display: block; /* показываем активную */
  }
  .features_nav {
    display: block;
  }
}
