.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 123px;
  padding-top: 30px;
  padding-right: 123px;
  gap: 90px;
}

.nav_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 732px;
}

.header_nav_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 47px;
}

.button_nav_link {
  display: flex;
  flex-direction: row;
  gap: 23.5px;
}

.lang-toggle {
  cursor: pointer;
  background-color: rgba(247, 247, 247, 1);
  border: none;
  color: black;
}

.spec {
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.header_button {
  cursor: pointer;
  width: 102px;
  height: 48px;
  background-color: rgba(51, 51, 51, 1); /* default */
  color: rgba(255, 255, 255, 1);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.header_button:disabled {
  background-color: rgba(208, 208, 208, 1);
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed;
  transform: none;
  opacity: 0.9;
}

.header_button:hover:not(:disabled) {
  transform: scale(1.1);
  background-color: rgba(19, 19, 19, 1);
}

.burger_menu {
  display: none;
  @include on-tablet {
    display: flex;
  }
}

.main_block {
  display: flex;
  flex-direction: row;
}

.main_title {
  margin-top: 81px;
  width: 378px;
  height: 234px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 62px;
  font-weight: 600;
  line-height: 78px;
  text-align: left;
  text-transform: uppercase;
}

.main_text {
  width: 250px;
  height: 120px;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.image {
  width: 816px;
  height: 464px;
  background-size: cover;
  background-image: url(../images/main_image_big.png);
}

.lang-pill span.active {
  color: rgba(208, 208, 208, 1);
}
