@media (min-width: 768px) and (max-width: 1439.5px) {
  .header {
    padding-left: 34px;
    padding-top: 30px;
    padding-right: 34px;
    gap: 130px;
  }

  .nav_block {
    display: flex;
    gap: 205px;
  }

  .header_button {
    width: 100px;
    height: 48px;
    font-size: 12px;
  }

  .header_nav_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .main_text_block {
    position: absolute;
  }

  .main_title {
    margin-top: -18px;
    width: 339.51px;
    height: 186px;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
  }

  .main_text {
    width: 249.64px;
    height: 120px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .image {
    margin-left: 270px;
    width: 429.39px;
    height: 317px;
    background-size: cover;
    background-image: url(../images/main_image_small.png);
  }

  // ** benefits ** //
  .container .benefits {
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin-top: 140px;
  }

  .container .benefits_cart {
    display: flex;
    width: 340px;
  }

  // ** presentation **//

  .container .presentation {
    margin-top: 161px;
  }

  .container .presentation_image {
    width: 700px;
    height: 430.16px;
    background-image: url(../images/presentation/image_small.png);
  }

  // ** about_us **//
  .container .about_us {
    margin-top: 140px;
    width: 768px;
  }
  .container .about_us_grup_1 {
    align-self: start;
    gap: 20px;
  }

  .container .about_us_grup_2 {
    gap: 20px;
  }

  .container .about_us_image1 {
    width: 374px;
    height: 415px;
    background-image: url(../images/about_us/image1_small.png);
  }
  .container .about_us_image2 {
    width: 374px;
    height: 415px;
    background-image: url(../images/about_us/image2_small.png);
  }

  .container .about_us_cart {
    width: 340px;
    height: 415px;
  }

  .container .about_us_title {
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
  }

  // ** testomomials ** //
  .container .testomonials {
    margin: 137px auto 0;
  }

  .container .testomonials_text {
    width: 700px;
    height: 144px;
  }

  .container .qwotes {
    width: 233px;
    height: 189px;
  }

  .container .avatar {
    margin: 40px auto 0;
  }

  // ** Features ** //
  .container .features_block {
    margin-top: 30px;
    flex-direction: column;
    width: 700px;
    height: 555px;
  }

  .container .features_grup_block {
    display: flex;
    flex-direction: column;
  }
  .container .features_cart_grup_1 {
    padding-left: 90px;
  }

  .features_cart_grup_2 {
    position: absolute;
    margin-left: 90px;
  }

  .container .features_cart {
    display: none;
    transform: translateX(50px);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
  }

  .container .features_cart.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  .container .arrow.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  .container .features_image {
    width: 435.69px;
    height: 226.08px;
    background-size: cover;
    background-image: url(../images/features_small.png);
    right: 0;
  }

  .container .features_nav {
    position: absolute;
    padding-top: 385px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
  }

  .container .arrow {
    background: rgba(214, 236, 236, 1);
    border: none;
    cursor: pointer;
  }

  .container .arrow img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
  }

  .container .arrow:not(.disabled):hover img {
    filter: brightness(1.2);
  }

  .container .arrow.disabled.prev img {
    content: url(../images/slider/arrow_left.png);
    cursor: default;
  }

  .container .arrow.disabled.next img {
    content: url(../images/slider/arrow_right.png);
    cursor: default;
  }
  .container .counter {
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: #333;
  }

  .container .counter span:last-child {
    color: #0c797a;
    font-size: 14px;
  }

  .container .features_title_block {
    margin-top: 140px;
    width: 700px;
  }

  .container .features_title {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }

  .container .features_block_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }

  .container .features_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .container .features_text::before {
    font-size: 18px;
    line-height: 20px;
  }

  // ** questions ** //
  .container .questions {
    margin-top: 142px;
    gap: 21px;
  }

  .container .questions_title {
    width: 339px;
    height: 92px;
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
  }

  .container .questions_form {
    width: 340px;
    gap: 20px;
  }

  .container .questions_button {
    width: 102px;
    height: 40px;
    font-size: 12px;
  }

  // ** Footer **//

  .container .footer {
    margin-top: 140px;
    width: 700px;
  }

  .container .footer_logo_block {
    padding-right: 25px;
    gap: 217.5px;
  }
}
