.presentation {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 191px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.presentation_image {
  width: 846px;
  height: 520px;
  background-image: url(../images/presentation/image_big.png);
}
