.questions {
  margin-top: 170px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.questions_title {
  margin-top: 0;
  width: 584.2px;
  height: 140px;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  text-transform: uppercase;
}

.questions_block {
  display: flex;
  flex-direction: column;
}

.questions_form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 581.94px;
}

.input {
  padding-left: 36px;
  height: 48px;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(130, 130, 130, 1);
  outline: none;
  transition: all 0.3s ease;
  &::placeholder {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  &:hover::placeholder {
    color: rgba(51, 51, 51, 1);
  }
}

/* Default */
.input.default {
  border-color: rgba(130, 130, 130, 1);
}

/* Selected (focus) */
.input:focus {
  border: 1px solid rgba(12, 121, 122, 1);
  box-shadow: 0 0 5px rgba(12, 121, 122, 0.4);
}

/* Success */
.input.success {
  border-color: rgba(12, 121, 122, 1);
  background-color: #f6fff9;
}

/* Error */
.input.error {
  border-color: rgba(235, 87, 87, 1);
  background-color: #fff5f5;
  color: rgba(235, 87, 87, 0.3);
}

.questions_button {
  margin-top: 30px;
  width: 150px;
  height: 48px;
  background-color: rgba(57, 190, 191, 1); /* default */
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.questions_button:disabled {
  background-color: rgba(207, 239, 240, 1);
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed;
  transform: none;
  opacity: 0.9;
}

.questions_button:not(:disabled):hover {
  transform: scale(1.1);
  background-color: rgba(12, 121, 122, 1);
}

.questions_textarea {
  padding-left: 36px;
  padding-top: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(130, 130, 130, 1);
  height: 128px;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  resize: none;
  text-align: left;
  &::placeholder {
    border: none;
  }
  &:hover::placeholder {
    color: rgba(51, 51, 51, 1);
  }
}

.questions_textarea:focus {
  border: 1px solid rgba(130, 130, 130, 1);
  box-shadow: 0 0 5px rgba(130, 130, 130, 0.4);
  outline: none;
}
