.testomonials {
  margin: 162px auto 0;
  display: flex;
  flex-direction: column;
}

.qwotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 233px auto;
  width: 768px;
  height: 192px;
  background-image: url(../images/testomonials/qwotes.png);
}

.testomonials_text {
  cursor: pointer;
  margin-top: 42px;
  width: 786px;
  height: 108px;
  color: rgba(51, 51, 51, 1);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.avatar {
  cursor: pointer;
  margin: 0 auto;
  width: 62px;
  height: 62px;
  background-image: url(../images/testomonials/Ellipse.png);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.testomonials_name {
  margin: 20px auto 0;
  width: 174px;
  height: 21.94px;
  font-family: Inter, sans-serif;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.testomonials_profession {
  margin: 5px auto 0;
  font-family: Inter, sans-serif;
  color: rgba(124, 124, 124, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
