@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks/header';
@import 'blocks/on_mobile';
@import 'blocks/on_tablet';
@import 'blocks/nav_link';
@import 'blocks/benefits';
@import 'blocks/presentation';
@import 'blocks/about_us';
@import 'blocks/testomonials';
@import 'blocks/features';
@import 'blocks/questions';
@import 'blocks/footer';
@import 'blocks/burger_menu';

body {
  margin: 0;
  background: rgba(247, 247, 247, 1);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(247, 247, 247, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(207, 239, 240, 1);
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(13, 178, 179, 1);
}
