@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks/header';
@import 'blocks/on_mobile';
@import 'blocks/on_tablet';
@import 'blocks/nav_link';
@import 'blocks/benefits';
@import 'blocks/presentation';
@import 'blocks/about_us';
@import 'blocks/testomonials';
@import 'blocks/features';
@import 'blocks/questions';
@import 'blocks/footer';
@import 'blocks/burger_menu';

body {
  margin: 0;
  background: rgba(247, 247, 247, 1);
}

html {
  scroll-behavior: smooth;
}
